header {
  border-bottom: 2px solid lightgrey;
  .head-menu {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    .logo {
      a {
        img {
          max-width: 150px;
        }
      }
    }
    .cart-block {
      position: relative;
      padding-right: 25px;
      .user-cart {
        width: 100px;
        height: 100px;
        display: inline-block;
        transition: .3s;
        &:hover {
          transform: scale(1.2);
        }
      }

    }
  }
}

.cart-tooltip {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color:#ffdf32;
  //border: 2px solid lightgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  opacity: 0;
  font-family: 'Pangolin', cursive;
  font-size: 22px;
  p {
    margin: auto;
    color: #a5a087;
  }

}