.wrapper {
  position: relative;
}

.catalog-wrap {
  padding: 50px 0;
  h1 {
    text-align: left;
    padding-bottom: 40px;
  }
}

.item-title, .item-price-block {
  margin-bottom: 20px;
}

.item-title {
  text-decoration: underline;
}

.item-description {
  max-height: 170px;
  overflow: auto;

}

.item-price-block {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

}

.catalog-item-block {
  width: 100%;
  @include flexbox;
  justify-content: space-between;
  .catalog-item {
    width: 32%;
    border-radius: 20px;
    border: 2px solid lightgrey;
    padding: 30px 30px 100px;
    margin-bottom: 15px;
    position: relative;
    box-sizing: border-box;
  }
}

.owl-carousel {
  margin-bottom: 10px;
  .owl-nav {
    @include clearfix;
    position: absolute;
    left: -27px;
    right: -27px;
    top: calc(50% - 15px);
    margin: 0;
    .owl-prev, .owl-next {
      padding: 0 !important;
      background: none;
      margin: 0;
      &:hover {
        background: none;
      }
    }

  }
}

.owl-prev:after, .owl-next:after {
  font-family: "FontAwesome";
  display: inline-block;
  color: #a5a087;
  font-size: 76px;
  line-height: 40px;
  transition: 0.2s;
}

.owl-prev:hover:after, .owl-next:hover:after {
  color: #ffdf32;
}

.owl-next {
  float: right;
  &:after {
    content: '\f105';
  }
}

.owl-prev {
  float: left;
  &:after {
    content: '\f104';
  }
}

.item-price-block {
  @include flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}

.add-to-cart {
  width: 45%;
  cursor: pointer;
  border: 2px solid #a5a087;
  border-radius: 10px;
  color: #a5a087;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.2s;
  &:hover {
    background: #ffdf32;
    border-color: #ffdf32;
    color: white;
  }

}

.item-price {
  width: 20%;
}

.user-cart-modal {
  display: none;
  background-color: rgba(218, 212, 187, 0.8);
  padding: 20px 30px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h2 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    clear: both;
    &:before {
      content: '';
      width: 50px;
      height: 50px;
      display: inline-block;
      background-image: url("../image/cart.png");
      background-size: contain;
      position: absolute;
      top: -15px;
      left: 0;
    }
  }
  .remove-cart-item {
    width: 30px;
    height: 30px;
    background: url("../image/close.png") no-repeat center;
    background-size: contain;
    margin-right: 15px;
  }

}

.cart-modal-wrap {
  padding: 50px;
  width: 75%;
  margin: auto;
  background-color: white;
  @include clearfix;
  border-radius: 25px;
  .close-popup {
    width: 45px;
    height: 45px;
    float: right;
    background-image: url("../image/x.png");
    background-size: contain;
    cursor: pointer;
    margin-bottom: 20px;
  }
}
.cart-added-list{
  margin-bottom: 30px;
}

.cart-added-list-item {
  @include flexbox;
  flex-direction: row;
  padding: 15px 0;
  border-bottom: 2px solid darkgrey;
  .remove-cart-item {

  }
  .item-title {
    flex-grow: 1;
    text-decoration: none;
    margin: 0 15px 0 0;
  }
  .count-selected-items {
    margin-right: 15px;
    width: 5%;
  }
  .cart-item-price {
    width: 5%;
  }
}

.amount-selected-items {
  width: 10%;
}

.cart-total-amount {
  display: inline-block;
  p {

  }

}
